<?xml version="1.0"?>

<configuration>
    <!--
    openTopLinkRange looks at the top X results, and randomly clicks one
    openLinkChance is the chance that a Bing result will be opened
    Lower the addSearches values if you have three or more accounts
    If you have one account, an average of 30 extra searches a day is fine
    If you have 5 accounts, an average of 150 extra searches a day is probably not good
    -->
    <general
        betweenQueriesInterval="15.0"
        betweenQueriesSalt="12.0"
        betweenAccountsInterval="300"
        betweenAccountsSalt="600"
        openTopLinkRange="5"
        openLinkChance=".7"
        addSearchesDesktop="0"
        addSearchesDesktopSalt="20"
        addSearchesMobile="0"
        addSearchesMobileSalt="20" />

    <!--
    Note: login and password are optional
        if not set, the proxy is considered open
        only Basic HTTP Authentication is currently supported
        protocols: a comma separated list of values - i.e, "http,https"
    <proxy protocols="http,https" url="218.204.159.45:8123" login="John Smith" password="xxx" />
    -->

    <!--
    See config options in the Accounts section of README
    or view them here: https://github.com/sealemar/BingRewards#accounts
    -->
    <accounts>
        <account type="Live" disabled="false">
            <login>gogo@hotmail.com</login>
            <password>xxx</password>
        </account>
        <account type="Live" disabled="false">
            <login>hoho@hotmail.com</login>
            <password>xxx</password>
        </account>
    </accounts>

    <events>
        <onError>
            <retry interval="15" salt="13.5" count="3" />
            <notify cmd="/home/BingRewards/bin/BingRewards/notify/onError.sh %a %p %r %P %l %i %e" />
        </onError>
        <onComplete>
            <retry if="%p lt 16" interval="15" salt="13.5" count="3" />
            <notify if="%l gt 3000"
                    cmd='/home/BingRewards/bin/BingRewards/notify/onComplete_reached.sh %a %p %r %P %l %i "reached %l Life Credits"' />
            <notify if="%p ne 16"
                    cmd="/home/BingRewards/bin/BingRewards/notify/onComplete.sh %a %p %r %P %l %i" />
            <notify if="%P gt 475"
                    cmd="/home/BingRewards/bin/BingRewards/notify/onComplete.sh %a %p %r %P %l %i" />

            <account ref="Live_gogo@hotmail.com">
                <retry if="%p lt 16" interval="15" salt="13.5" count="3" />
                <notify if="%l gt 750"
                        cmd='/home/BingRewards/bin/BingRewards/notify/onComplete_reached.sh %a %p %r %P %l %i "Gold with %l Life Credits"' />
                <notify if="%p ne 16"
                        cmd="/home/BingRewards/bin/BingRewards/notify/onComplete.sh %a %p %r %P %l %i" />
                <notify if="%P gt 475"
                        cmd="/home/BingRewards/bin/BingRewards/notify/onComplete.sh %a %p %r %P %l %i" />
            </account>
            <account ref="Live_hoho@hotmail.com">
                <retry if="%p lt 31" interval="15" salt="13.5" count="3" />
                <notify if="%l gt 10000"
                        cmd='/home/BingRewards/bin/BingRewards/notify/onComplete_reached.sh %a %p %r %P %l %i "reached %l Life Credits"' />
                <notify if="%p ne 31"
                        cmd="/home/BingRewards/bin/BingRewards/notify/onComplete.sh %a %p %r %P %l %i" />
                <notify if="%P gt 475"
                        cmd="/home/BingRewards/bin/BingRewards/notify/onComplete.sh %a %p %r %P %l %i" />
            </account>
        </onComplete>
        <onScriptComplete>
            <notify cmd="/home/BingRewards/bin/BingRewards/notify/onScriptComplete.sh -mail" />
        </onScriptComplete>
        <onScriptFailure>
            <notify cmd="/home/BingRewards/bin/BingRewards/notify/onScriptFailure.sh -mail" />
        </onScriptFailure>
    </events>

    <!--
    generator="MODULE" must be a module in pkg/queryGenerators
    current modules:
        bing - uses today's bing news page. Generates terms which may be partial words.
        wikipedia - uses today's wikipedia. Generates terms with whole words.
        googleTrends - uses today's google trends, and google suggested searches. This generatoer
                       generates whole words, generally consistent with a search syntax.  These terms
                       are anything trending and can be NSFW or terms for illegal items.
    -->
    <queries generator="wikipedia" />
</configuration>
